<main class="container-fluid overflow-hidden">
  <div class="row vh-sm-100 overflow-auto">
    <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-light sticky-top">
      <div class="d-flex flex-sm-column flex-row justify-content-between align-items-center align-items-sm-start px-3 py-2">
        <a [routerLink]="['/']" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-5 my-3">
            <span class="d-sm-none">
              SP
            </span>
            <span class="d-none d-sm-inline">
              Simple Press
            </span>
          </span>
        </a>
        <ul class="nav nav-pills w-sm-100 flex-sm-column flex-row mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start">
          <li class="nav-item w-sm-100">
            <a [routerLink]="['/']" class="nav-link px-2 mx-1 mx-sm-0 link-dark" [routerLinkActive]="['active', 'link-light']" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">
              <bi name="speedometer2" class=""></bi>
              <span class="ms-1 d-none d-sm-inline">
                Dashboard
              </span>
            </a>
          </li>
          <li class="nav-item w-sm-100">
            <a [routerLink]="['posts']" class="nav-link px-2 mx-1 mx-sm-0 link-dark" [routerLinkActive]="['active', 'link-light']" ariaCurrentWhenActive="page">
              <bi name="newspaper" class=""></bi>
              <span class="ms-1 d-none d-sm-inline">
                Posts
              </span>
            </a>
          </li>
          <li class="nav-item w-sm-100">
            <a [routerLink]="['albums']" class="nav-link px-2 mx-1 mx-sm-0 link-dark" [routerLinkActive]="['active', 'link-light']" ariaCurrentWhenActive="page">
              <bi name="journal-album" class=""></bi>
              <span class="ms-1 d-none d-sm-inline">
                Albums
              </span>
            </a>
          </li>
          <li class="nav-item w-sm-100">
            <a [routerLink]="['photos']" class="nav-link px-2 mx-1 mx-sm-0 link-dark" [routerLinkActive]="['active', 'link-light']" ariaCurrentWhenActive="page">
              <bi name="file-image" class=""></bi>
              <span class="ms-1 d-none d-sm-inline">
                Photos
              </span>
            </a>
          </li>
        </ul>
        <!-- dummy to center menu -->
        <div class="invisible">SP</div>
      </div>
    </div>
    <div class="col d-flex flex-column h-sm-100">
      <section class="px-1 mx-n3">
        @if (title.getTitle() === 'Dashboard') {
          <header class="">
            <div class="p-4 p-md-5 mb-4 text-white bg-dark">
              <div class="col-md-6 px-0">
                <p class="lead mb-0">Welcome to</p>
                <h1 class="display-4">Simple Press</h1>
              </div>
            </div>
          </header>          
        } @else {
          <header class="">
            <div class="p-4 p-md-5 mb-0">
              <div class="col-md-6 px-0">
                <h1 class="display-4">{{ title.getTitle() }}</h1>
              </div>
            </div>
          </header>
        }

        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</main>