bi {
    width: 18px;
    height: 18px;
    display: inline-block;
}

// override for nav active link
.nav-link.link-light.active {
    color: RGBA(var(--bs-light-rgb), var(--bs-link-opacity, 1)) !important;
    text-decoration-color: RGBA(var(--bs-light-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .w-sm-100 {
        width: 100%;
    }
    .h-sm-100 {
        height: 100%;
    }
    .vh-sm-100 {
        height: 100vh !important;
    }
}