<main class="container-fluid overflow-hidden">
  <div class="row vh-sm-100 overflow-auto">
    <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-light sticky-top">
      <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 py-2">
        <a [routerLink]="['/']" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-5 my-3">
            <span class="d-sm-none">
              SP
            </span>
            <span class="d-none d-sm-inline">
              Simple Press
            </span>
          </span>
        </a>
        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start">
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link px-2 mx-1 mx-sm-0 active" aria-current="page">
              <bi name="speedometer2" class=""></bi>
              <span class="ms-1 d-none d-sm-inline">
                Dashboard
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['posts']" class="nav-link px-2 mx-1 mx-sm-0 link-dark">
              <bi name="newspaper" class=""></bi>
              <span class="ms-1 d-none d-sm-inline">
                Posts
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['albums']" class="nav-link px-2 mx-1 mx-sm-0 link-dark">
              <bi name="journal-album" class=""></bi>
              <span class="ms-1 d-none d-sm-inline">
                Albums
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['photos']" class="nav-link px-2 mx-1 mx-sm-0 link-dark">
              <bi name="file-image" class=""></bi>
              <span class="ms-1 d-none d-sm-inline">
                Photos
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col d-flex flex-column h-sm-100">
      <section class="px-1 mx-n3">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</main>