<div class="px-4 px-md-5 mb-4">
  <form>
    <div class="mb-3 row">
      <!-- <label
            for="table-complete-search"
            class="col-xs-3 col-sm-auto col-form-label"
            >Full text search:</label
          > -->
      <div class="col-xs-3 col-sm-auto">
        <input
          id="table-complete-search"
          type="text"
          class="form-control mb-2 mb-sm-0"
          name="searchTerm"
          placeholder="Search"
          [ngModel]="service.searchTerm"
          (ngModelChange)="onSearchTermChange($event)" />
      </div>
      <div class="col-xs-3 col-sm-auto">
        <select
          class="form-select mb-2 mb-sm-0"
          style="width: auto"
          name="pageSize"
          [(ngModel)]="service.pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="50">50 items per page</option>
        </select>
      </div>
      @if (service.loading$ | async) {
        <span class="col col-form-label">Loading...</span>
      } @else if (filtersApplied) {
        <div class="col-xs-3 col-sm-auto">
          <button class="btn btn-light" (click)="onClearFilters()">
            <span class="me-1">&times;</span>
            Clear
          </button>
        </div>
      }
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
          <th scope="col">Thumbnail</th>
        </tr>
      </thead>
      <tbody>
        @for (photo of photos$ | async; track photo.id; let i = $index) {
          <tr>
            <th scope="row">
              {{ i + 1 + (service.page - 1) * service.pageSize }}
            </th>
            <td>
              <a
                [routerLink]="['/photos/' + photo.id]"
                class="text-decoration-none">
                <ngb-highlight
                  [result]="photo.title"
                  [term]="service.searchTerm" />
              </a>
            </td>
            <td>
              <img
                [src]="photo.thumbnailUrl"
                [alt]="photo.title"
                style="width: 20px" />
            </td>
          </tr>
        } @empty {
          @if (service.loading$ | async) {
            <tr>
              <td colspan="4" style="text-align: center">Loading...</td>
            </tr>
          } @else {
            <tr>
              <td colspan="4" style="text-align: center">No photo found</td>
            </tr>
          }
        }
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!"
        [(page)]="service.page"
        [maxSize]="5"
        [boundaryLinks]="true"
        [pageSize]="service.pageSize">
      </ngb-pagination>
    </div>
  </form>
</div>
